.parallax { 
    /* The image used */
    background-image: url("img/banner-temp.png");

    /* Set a specific height */
    height: 730px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row-striped {
	padding-top: 30px;
 	padding-bottom: 50px;
}

.row-striped:nth-of-type(odd){
  background-color: #dcdcdc;
}

.table-striped {
	padding-top: 15px;
	padding-bottom: 15px;
}

.table-striped:nth-of-type(odd) {
	background-color: #dcdcdc;
}

#section-header {
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
}

.divider {
	padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 10px auto 25px;
    border-color: #ff5ca7;
}

#subsection {
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}

p {
	display: block;
	font-size: 15px;
	text-align: center;
}

.question_answer {
	padding-top: 5px;
	padding-bottom: 5px;
}

.question {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	text-decoration: bold;
}
